<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/PMSX</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Nunito SemiBold;12</value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="PMSX">
                <SvgColor Name="Paint" Value="240,242,245" />
                <SvgColor Name="Paint High" Value="249,251,253" />
                <SvgColor Name="Paint Shadow" Value="228,232,235" />
                <SvgColor Name="Paint Deep Shadow" Value="225,229,232" />
                <SvgColor Name="Brush" Value="66,72,82" />
                <SvgColor Name="Brush Light" Value="99,108,119" />
                <SvgColor Name="Brush High" Value="66,72,82" />
                <SvgColor Name="Brush Major" Value="169,176,187" />
                <SvgColor Name="Brush Minor" Value="202,208,215" />
                <SvgColor Name="Accent Paint" Value="53,186,155" />
                <SvgColor Name="Accent Paint Light" Value="228,232,235" />
                <SvgColor Name="Accent Brush" Value="244,246,248" />
                <SvgColor Name="Accent Brush Light" Value="240,97,221,188" />
                <SvgColor Name="Key Paint" Value="44,48,54" />
                <SvgColor Name="Key Brush" Value="244,246,248" />
                <SvgColor Name="Key Brush Light" Value="240,97,221,188" />
                <SvgColor Name="Red" Value="66,72,82" />
                <SvgColor Name="Green" Value="66,72,82" />
                <SvgColor Name="Blue" Value="66,72,82" />
                <SvgColor Name="Yellow" Value="66,72,82" />
                <SvgColor Name="Black" Value="66,72,82" />
                <SvgColor Name="Gray" Value="169,176,187" />
                <SvgColor Name="White" Value="244,246,248" />
                <SvgColor Name="altRed" Value="217,68,82" />
                <SvgColor Name="altGreen" Value="53,186,155" />
                <SvgColor Name="altBlue" Value="74,136,218" />
                <SvgColor Name="altYellow" Value="245,185,69" />
                <SvgColor Name="altBlack" Value="66,72,82" />
                <SvgColor Name="altGray" Value="169,176,187" />
                <SvgColor Name="altWhite" Value="244,246,248" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <probing privatePath="data" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="connectionString" value="Data Source=DESKTOP-MJHVRJ3;Initial Catalog=pmsx;Integrated Security=True" />
  </appSettings>
</configuration>